:root{
    --bg-color: #051D1C;
    --nav-envelope: #1CA39B; 
    /* =====Hero bg */
    --bg-hero: #10605B;
    /* ==== Text */
    --color-light: whitesmoke;

    /* About */
    --color-primary: #f0f0f0;
    --color-secondary: #47ffe6;
}
.dark_theme{
    /* --bg-color: #a8fcf6; */
    --bg-color: #91fff8;
    --color-light: black;
    --bg-hero: #F7FEFD;
    
    /* About */
    --color-primary: #136660;
    --color-secondary: #136660;

}
*{
    margin: 0;
    padding: 0;
}
body{
    /* min-height: 100vh; */
    /* border: 1px solid red; */
    /* transition: 2s; */
    font-family:sans-serif;
    font-weight: bold;
    /* position: relative; */
    /* overflow: hidden !important; */
}
/* ================== NAVIGATION */
.navBtn,.closeBtnNav{
    display: none;
}
nav{
    /* border: 1px dotted tomato; */
    display: flex;
    align-items: center;
    justify-content:end;
    width: min(100%,1100px);
    height: fit-content;
    margin: auto;
    /* margin-top: 3vh; */
    color: var(--color-light);
    height: 3vh;
    margin-top: 7vh;
    /* padding-top: 20px; */
    /* position: absolute; */
    /* inset: 0; */
}
nav > ul{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
nav > ul > li{
    list-style: none;
    /* border: 1px solid tomato; */
    padding: 5px;
    margin: 3px 10px;
    cursor: pointer;
    transition: 0.5s;
}
nav > ul > li > a{
    text-decoration: none;
    color: var(--color-light);
}
nav > ul > li:nth-child(4){
    padding: 4.5px 20px;
    background-color:#1CA39B;
    color: black;
    border-radius: 20px;
    color: var(--color-light);
}
nav > ul > li:nth-child(4):hover{
    filter: opacity(0.8);
}
nav > ul > li:nth-child(1):hover,nav > ul > li:nth-child(2):hover,nav > ul > li:nth-child(3):hover{
    border-bottom: 2px solid var(--color-light);
    /* transform: scale(1.2); */
    transform: rotate(-10deg);
}
.bg_layer{
    background-color: var(--bg-color);
    /* width: 100vw; */
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 370vh;
    position: fixed;
    /* inset: 0; */
    /* border: 1px solid red; */
}
.bg_layer div:nth-child(1){
    border: 1px solid rgb(0, 121, 101);
    /* width: 600px; */
    width: 35vw;
    height: 35vw;
    background-color: #49a583;
    filter: opacity(0.27);
    margin-top: 10vh;
    margin-left: 5vw;
    animation-name: moveCircle_1;
    animation-iteration-count: infinite;
    animation-duration: 13s;
    /* border-top-left-radius: 80%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 60%; */
}
.bg_layer div:nth-child(2){
    border: 1px solid rgb(0, 121, 101);
    width: 25vw;
    height: 25vw;
    background-color: #5DEAB7;
    filter: opacity(0.27);
    border-radius: 50%;
    margin-top: 5vh;
    margin-left: 70vw;
    /* right: 10px; */
    animation-name: moveCircle_2;
    animation-iteration-count: infinite;
    animation-duration: 11s;
}
.bg_layer div:nth-child(3){
    display: none;
    border: 1px solid rgb(0, 121, 101);
    width: 15vw;
    height: 20vw;
    background-color: #5DEAB7;
    filter: opacity(0.27);
    border-radius: 50%;
    margin-top: 20vh;
    margin-left: 16vw;
    animation-name: moveCircle_1;
    animation-iteration-count: infinite;
    animation-duration: 17s;
}
.bg_layer div:nth-child(4){
    display: none;
    border: 1px solid rgb(0, 121, 101);
    width: 17vw;
    height: 15vw;
    background-color: #5DEAB7;
    filter: opacity(0.27);
    border-radius: 50%;
    margin-top: 20vh;
    margin-left: 70vw;
    animation-name: moveCircle_2;
    animation-iteration-count: infinite;
    animation-duration: 11s;
}

@keyframes moveCircle_1{
    0%{
        border-radius: 50%;
        transform: rotate(180deg);
    }
    25%{
        border-top-left-radius: 60%;
        border-top-right-radius: 40%;
        border-bottom-left-radius: 40%;
        border-bottom-right-radius: 40%;
        transform: rotate(90deg);
    }
    50%{
        border-top-left-radius: 40%;
        border-top-right-radius: 60%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 40%;
        transform: rotate(150deg);
    }
    75%{
        border-top-left-radius: 80%;
        border-top-right-radius: 60%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 60%;
        transform: rotate(130deg);
    }
    100%{
        border-radius: 50%;
        transform: rotate(180deg);
    }
}
@keyframes moveCircle_2{
    0%{
        border-radius: 50%;
        transform: rotate(180deg);
    }
    25%{
        border-top-left-radius: 80%;
        border-top-right-radius: 60%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 60%;
        transform: rotate(90deg);
    }
    50%{
        border-top-left-radius: 60%;
        border-top-right-radius: 40%;
        border-bottom-left-radius: 40%;
        border-bottom-right-radius: 40%;
        transform: rotate(150deg);
    }
    75%{
        border-top-left-radius: 40%;
        border-top-right-radius: 60%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 40%;
        transform: rotate(130deg);
    }
    100%{
        border-radius: 50%;
        transform: rotate(180deg);
    }
}

/*================= Section */
.section_hero{
    /* border: 1px solid red; */
    width: min(1070px,100%);
    margin: auto;
    margin-top: 7vh;
    text-align: center;
}
.section_hero > div{
    /* border: 1px solid red; */
    color: var(--color-primary);
    text-align: left;
}
.section_hero > div > p{
    /* border: 1px solid red; */
    /* font-size: 30px; */
    letter-spacing: 1.5px;
    font-size: clamp(10px,7vw,30px);
}
.section_hero > img{
    width: 330px;
    /* margin: auto; */
    margin-block: 3vh;
    border-radius: 50%;
    border:5px solid var(--color-secondary);
}
.section_hero > p{
    color: var(--color-primary);
    /* color: #f0f0f0; */
    line-height: 30px;
    letter-spacing: 1.1px;
    /* margin-top: 5vh; */
    text-align: left;
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    padding: 10px;
    /* background-color: #214636; */
    /* filter: opacity(0.9);
    border-radius: 20px; */
}

/* ================= section_technologies */
.section_technologies{
    /* border: 1px solid red; */
    width: min(1070px,100%);
    margin: auto;
    margin-top: 7vh;
    /* text-align: center; */
}
.section_technologies > div{
    /* border: 1px solid red; */
    margin: 10px;
    width: 80%;
    margin-inline: auto;
}
.section_technologies > div > p:nth-child(1){
    /* text-align: left; */
    color: var(--color-secondary);
    font-weight: bolder;
    font-size: 23px;
    letter-spacing: 1.4px;
    border-bottom: 2px solid;
}
.section_technologies > div > p:nth-child(2){
    /* text-align: left; */
    font-weight: normal;
    font-style: italic;
    margin: 10px 0px;
    color: var(--color-secondary);
}
.section_technologies > div > div{
    margin-block: 20px;
}
.section_technologies > div > div > ul{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
}
.section_technologies > div > div > ul > li{
    /* border: 1px solid red; */
    width: fit-content;
    padding: 10px;
    margin: 10px;
    color: var(--color-secondary);
    /* border-radius: 20px; */
    transition: 0.3s;
    cursor: pointer;
}
.section_technologies > div > div > ul > li:hover{
    /* background-color: var(--bg-hero); */
    border-bottom: 1px solid;
}
footer{
    color: var(--color-secondary);
    text-align: center;
    border-bottom: 3px solid var(--color-secondary);
    padding: 7px;
    font-size: 13px;
    width: 55%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 20px;
}
.bg_layer_nav{
    position: absolute;
    /* height: 100vh;
    width: 100vw; */
    inset: 0;
    background-color: rgba(0, 0, 0, 0.568);
    z-index: 4;
    position: fixed;
    display: none;
}
.bg_layer_nav_show{
    display: block;
}





























/*==================== Responsive */
@media (max-width: 768px){
    *{
        /* border: 1px solid red; */
    }
    header{
        /* border: 1px solid red; */
        /* background-color: #000000e1; */
        width: 100%;
        height: 48px;
        /* height: 100vh; */
        /* border: 1px solid red; */
        /* position: absolute; */
        /* position: fixed; */
        /* position: relative; */
        /* transform:translateX(-100%); */
        /* transition: 0.3s; */
    }
    .bg_layer{
        height: 100vh;
        position: fixed;
    }
    .bg_layer div:nth-child(1){
        margin-top: 5vh;
        width: 30vh;
        height: 30vh;
    }
    .bg_layer div:nth-child(3){
        display: block;
        margin-top: 2vh;
    }
    .bg_layer div:nth-child(4){
        display: block;
        width: 35vh;
        height: 35vh;
        margin-left: 30vw;
    }
    .navBtn{
        /* display: unset; */
        display: block;
        color: var(--color-light);
        width: fit-content;
        font-size: 20px;
        margin: 25px 0px 0px 15px;
        /* border: 1px solid red; */
    }
    .closeBtnNav{
        display: block;
        color: white;
        /* border: 1px solid red; */
        width: fit-content;
        font-size: 20px;
        margin: 30px 0px 0px 15px;
        transition: 0.5s;
    }
    .display_hide{
        /* display: none; */
        filter: opacity(0.1);
    }
 
    nav{
        display: block;
        /* align-items: flex-start;
        justify-content: center; */
        margin: unset;
        width: 50%;
        height: 100vh;
        /* border: 1px solid red; */
        position: absolute;
        top: 0;
        z-index: 5;
        position: fixed;
        background-color: #000000e1;
        transform:translateX(-100%);
        transition: 0.3s;
    }
    .nav_show{
        transform:translateX(0%);
    }
    nav > ul {
        /* margin: unset; */
        display: block;
        /* border: 1px solid green; */
        /* padding: unset; */
        margin-top: 5vh;
        height: 95vh;
    }
    nav > ul > li{
        /* border: 1px solid; */
        margin: 20px 0px;
        text-align: center;
        padding: 10px 40px;
    }
    nav > ul > li > a{
        color: white;
    }
    nav > ul > li:nth-child(4){
        width: fit-content;
        margin: auto;
    }

    /*======== SECTION */
    section > div{
        /* border: 1px solid red; */
        width: 90%;
        margin: auto;
        /* font-size: 40px; */
    }
    .section_hero > img{
        width: 70%;
    }
}