<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/icons/icons.css">
</head>
<body>
    <header  id="header">
        <div class="navBtn"><i class="fa-solid fa-bars fa-lg"></i></div>
        <nav>
            <div class="closeBtnNav"><i class="fa-solid fa-xmark fa-xl"></i></div>
            <ul>
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="../index.html#projects">Projects</a>
                <li>
                    <a href="#">About</a>
                </li>
                <!-- <li><i class="fa-regular fa-envelope"></i></li> -->
                <li>
                    <a href="mailto: renzcollincapena01@gmail.com">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                </li>
                <!-- <li><button>Change</button></li> -->
                <li>
                    <label class="switch">
                        <input id="switchThemeBtn" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </li>
            </ul>
        </nav>
    </header>


    <div class="bg_layer_nav"></div>
    <div class="bg_layer">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <!-- <h1>About Me</h1> -->
    <section class="section_hero">
        <!-- <div>
            <p>Hello, I’m <span>Renz!</span> a Front-end Developer from Valenzuela City, Philippines </p>
        </div> -->
        <img src="../img/my_pic_about.jpg" alt="my_pic">
        <p>
            I am  Renz Collin D. Capeña, a self-taught Web Developer. My skills is HTML, CSS, and JavaScript. And I use PHP as Backend of my projects I know how to manipulate data in database using PHP I create some websites that have a Create, Read, Update and Delete (CRUD). 
        </p>
    </section>

    <section class="section_technologies">
        <div>
            <p>TECHNOLOGIES</p>
            <p>These are the technology stacks in which I am most interested</p>
            <div>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>BOOTSTRAP</li>
                    <li>JQuery</li>
                    <li>PHP</li>
                    <li>GIT</li>
                </ul>
            </div>
        </div>
        <div>
            <p>SOFT SKILLS</p>
            <p>These are the soft skills I believe I utilize</p>
            <div>
                <ul>
                    <li>Fast Learner</li>
                    <li>Staying organized</li>
                    <li>Self-reliance</li>
                    <li>Time Management</li>
                    <li>Willingness to learn</li>
                </ul>
            </div>
        </div>
    </section>

    <footer>
        2023 - Renz Collin Capeña - PORTFOLIO
    </footer>

    <script src="../js/main.js"></script>
</body>
</html>